[submodule "sagemaker-tensorflow-container"]
	path = sagemaker-tensorflow-container
	url = http://github.com/crr0004/sagemaker-tensorflow-container
	branch = script-mode
[submodule "sagemaker-rl-container"]
	path = sagemaker-rl-container
	url = http://github.com/crr0004/sagemaker-rl-container
	branch = master
